$ballDiameter: 48px;
$bodyBackgroundColor1: #263238;
$bodyBackgroundColor2: #4f5b62;
$generalTextColor: #FFF;
$tubeColor: $generalTextColor;
$ballBorderColor: $generalTextColor;
$settingDivMainBackgroundColor: #FFF;
$settingDivMainTextColor: #000;
$settingDivTitleBoxBackgroundColor: #49a7cc;
$settingDivTitleBoxTextColor: #FFF;
$solutionDivTitleBoxBackgroundColor: #f1ae56;